[submodule "badger-css"]
	path = badger-css
	url = https://github.com/abw/badger-css.git
[submodule "badger-react-ui"]
	path = badger-react-ui
	url = https://github.com/abw/badger-react-ui.git
[submodule "badger-form"]
	path = badger-form
	url = https://github.com/abw/badger-form.git
[submodule "badger-icon"]
	path = badger-icon
	url = https://github.com/abw/badger-icon.git
[submodule "badger-color"]
	path = badger-color
	url = https://github.com/abw/badger-color.git
[submodule "badger-js"]
	path = badger-js
	url = https://github.com/abw/badger-js.git
[submodule "badger-timestamp"]
	path = badger-timestamp
	url = https://github.com/abw/badger-timestamp.git
[submodule "badger-utils"]
	path = badger-utils
	url = https://github.com/abw/badger-utils.git
[submodule "badger-filesystem-js"]
	path = badger-filesystem-js
	url = https://github.com/abw/badger-filesystem-js.git
[submodule "badger-database-js"]
	path = badger-database-js
	url = https://github.com/abw/badger-database-js.git
[submodule "react-context"]
	path = react-context
	url = https://github.com/abw/react-context.git
[submodule "react-one-louder"]
	path = react-one-louder
	url = https://github.com/abw/react-one-louder.git
[submodule "react-night-and-day"]
	path = react-night-and-day
	url = https://github.com/abw/react-night-and-day.git
[submodule "spinal-tapsum"]
	path = spinal-tapsum
	url = https://github.com/abw/spinal-tapsum.git
[submodule "badger-website"]
	path = badger-website
	url = https://github.com/abw/badger-website.git
[submodule "badger-maths"]
	path = badger-maths
	url = https://github.com/abw/badger-maths
[submodule "badger-codecs-js"]
	path = badger-codecs-js
	url = https://github.com/abw/badger-codecs-js
